@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}
